<%- include('header') %>
<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
      <!--breadcrumb-->
      <div id="toaster" style="border-radius: 8px;right: 10px; margin-top:55px;position: fixed; z-index: 999999999999999;font-size: 18px;color: #fff; display: none;">
        <div class="alert alert-success d-flex align-items-center" role="alert">
           <div class="flex-fill ml-3">
               <span id="toast-success"></span>
           </div>
       </div>
   </div>
   <div id="toasterError" style="border-radius: 8px;right: 10px; margin-top:55px;position: fixed; z-index: 999999999999999;font-size: 18px;color: #fff; display: none;">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
           <div class="flex-fill ml-3">
               <span id="toast-error"></span>
           </div>
       </div>
   </div>
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Add Category</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add  Category</li>
          </ol>
        </nav>
      </div>
    
    </div>
    <!--end breadcrumb-->
    <div class="row">
      <div class="col-xl-7 mx-auto">

        <div class="card border-top border-0 border-4 border-primary">
          <div class="card-body p-5">
            <div class="card-title d-flex align-items-center">
              <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
              </div>
              <h5 class="mb-0 text-primary">Add  Category</h5>
            </div>
            <hr>
            <form class="row g-3" method="post" action="/company/addcategory" id="addcategory">
              
              <div class="col-md-12">
                <label for="inputFirstName" class="form-label">Heading:</label>
                <input type="text"  name="heading" id="heading" class="form-control"  value=""><br>
              </div>
              <div class="col-md-12">
                <label for="inputFirstName" class="form-label">Description:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
              </div>
              <div class="col-md-6">
                <label for="inputFirstName" class="form-label">Start Date:</label>
                <input type="datetime-local" name="start_date" id="start_date" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="inputFirstName" class="form-label">End Date:</label>
                <input type="datetime-local" name="end_date" id="end_date" class="form-control">

              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary px-5">Submit</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>


<%- include('footer') %>
<script>

    $(function() {

        // Setup form validation on the #register-form element
        $("#addcategory").validate({
        
            // Specify the validation rules
            rules: {
               
                heading: {
                    required: true,
                },
                description: {
                    required: true,
                    minlength: 5
                },
            },
            
            // Specify the validation error messages
            messages: {

                description: {
                    required: "Please provide a description",
                    minlength: "Your description must be at least 5 characters long"
                },
                heading: "Please enter a heading",
            },
            
            submitHandler: function(form){
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize(),
                    success: function(response) {
                        //console.log(response)
                        if(response == 'success'){
                            
                            $("#toast-success").html("Successfully, category has been added");
                            $("#toaster").fadeIn();
                            window.location='/company/category';

                        }
                        else if(response == 'error'){
                          $("#toast-error").html('Something went worng !');
                          $("#toasterError").fadeIn();
                        }
                        setTimeout(function() {
                          $("#toaster").fadeOut();
                          $("#toasterError").fadeOut();
                        }, 3000);
                    }            
                });		
            }
           });
    });
     
</script>